.manage-ngo-panel {
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: auto; /* optional safety */
  white-space: normal;
}

/* Make table cells wrap content */
.table td,
.table th {
  word-wrap: break-word;
  white-space: normal;
  max-width: 150px; /* Adjust this based on column */
  padding: 8px 10px;
  text-align: center;
  vertical-align: middle;
}
.table {
  font-size: 0.9rem;
}
